:host {
  display: block;
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
}

.primary-icon {
  color: #3f51b5;
}

.form__row {
 display: flex;
}

.form__row > .grow {
  flex-grow: 1;
}

.form__row > .button {
  margin-left: 20px;
}
