<h1 class="mat-display-2">Todo App</h1>

<form [formGroup]="newTaskFormGroup">
  <div class="form__row">
    <mat-form-field class="grow">
      <mat-label>Task Content</mat-label>
      <input
        matInput
        formControlName="taskContent"
        id="taskContent"
        type="text"
        value="Eat pizza">
    </mat-form-field>
    
    <button
      mat-mini-fab
      color="primary"
      aria-label="Add task"
      type="submit"
      class="button"
      [disabled]="!newTaskFormGroup.valid"
      (click)="addNewTask()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>

<mat-selection-list #todos>
  <mat-list-option *ngFor="let todo of todosList" (click)="doneTask(todo)">
    {{ todo.content }}
  </mat-list-option>
</mat-selection-list>

<mat-divider></mat-divider>

<mat-list #dones>
  <mat-list-item *ngFor="let done of donesList">
    <h3 mat-line>{{ done.content }}</h3>
    <button mat-icon-button (click)="deleteTask(done)">
      <mat-icon class="mat-24 primary-icon">delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
